# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
.venv/

# Claude
.claude/

# Data
.data/

# IDE
.vscode/

# Environment variables
.env
.env.prod

# Database
*.db
*.sqlite3
db.json

# OS
.DS_Store
Thumbs.db