# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Database
*.db
database/*.db
database/db.json
database/db_backup.json
database/test_db.json

# IDE
.vscode/
.idea/

# Git
.github

# OS
.DS_Store

# Claude
.claude/

# Logs
*.log